body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(115, 251, 251);
}
.container{
    max-width:fit-content;
    max-height: fit-content;
    margin:40px auto;
    padding: 20px;
    background-color:rgb(239, 101, 200);
    border: 5px solid black;
    border-radius: 1px;
    box-shadow: 0 0 1000px black;
}

#task-list{
    list-style:none;
    padding: 0;
    margin: 0;
}
.task{
    padding: 20px;
    border-bottom: 10px solid black;
}

.task:last-child{
    border-bottom:none;
}

.task input[type="checkbox"]{
    margin-right: 10px;
}

.filter-btns{
    margin-top: 10px;
}

.filter-btns button{
    margin-right: 10px;
}