body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

div {
    background: whitesmoke;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}
