body {
    background: #f2f2f2;
    font-family: Arial;
}

.chat-box {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
}

#messages {
    height: 200px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    margin-bottom: 10px;
}
