body {
    font-family: Arial;
    background-color: #eef2f3;
    text-align: center;
}

div {
    background: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}
